body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    animation: fadeBg 0.5s ease-in;
}

@keyframes fadeBg {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Step 1: Prepare your elements as invisible */
#snappiTitle,
#snappiSubTitle {
  opacity: 0;
  transform: translateY(10px);
}

/* Step 2: Animate the title in */
#snappiTitle {
    animation: fadeI