body {
    background-color: #fff0f5;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 100px;
    color: #333;
}

h1 {
    font-size: 48px;
    color: #d63384;
}